* {
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    padding: 0;
	border: 0;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 200px 0px;
}
h1, h2 {
    color: white;
    margin: 0px;
}
.hero {
    background-image: url(./assets/Desktop_Backgrounds_1920x1200_6\ 3Back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
.main {
    background-color: #EEEEEE;
    text-align: center;
    padding: 50px 0px;
}
.p-class {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}
.grid-item {
    padding: 20px;
    font-size: 16px;
    text-align: center;
    width: 408px;
}
.learn {
    background-image: url(./assets/Rectangle\ 5learn.png), url(./assets/IMG_1334_72dpi_RGB_\ 1.png);
    text-align: center;
    padding: 80px 0px;
}
.learn-button {
    position: relative;
    border: 0; 
    background: transparent;
    margin: 60px 0px;
    cursor: pointer;
}
.button1 {
    position: absolute;
    top: 49px;
    left: 63px;
}
footer {
    background-color: #464547;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 80px 100px 150px;
    height: 250px;
}
.special {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.special2 {
    display: flex;
    align-items: center;
}
.small-img {
    width: 20px;
    margin-right: 10px;
}
.grid-item4 {
    align-self: flex-end;
}